In [7]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
from sklearn.model_selection import StratifiedShuffleSplit, train_test_split
from sklearn.metrics import accuracy_score, log_loss
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression

In [66]:

classifiers = [
    KNeighborsClassifier(3),
    SVC(probability=True),
    DecisionTreeClassifier(),
    RandomForestClassifier(),
    AdaBoostClassifier(),
    GradientBoostingClassifier(),
    GaussianNB(),
    LinearDiscriminantAnalysis(),
    QuadraticDiscriminantAnalysis(),
    LogisticRegression()
]

log_cols = ["Classifier", "Accuracy"]
log = pd.DataFrame(columns=log_cols)

sss = StratifiedShuffleSplit(n_splits=10, test_size=0.1, random_state=0)





X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size=0.33, random_state=42)
    
for clf in classifiers:
    name = clf.__class__.__name__
    clf.fit(X_train, y_train)
    train_predictions = clf.predict(X_test)
    acc = accuracy_score(y_test, train_predictions)
        
    if name in acc_dict:
        acc_dict[name] += acc
    else:
        acc_dict[name] = acc

for clf in acc_dict:
    acc_dict[clf] = acc_dict[clf] / 10.0
    log_entry = pd.DataFrame([[clf, acc_dict[clf]]], columns = log_cols)
    log = log.append(log_entry)

plt.xlabel('Accuracy')
plt.title('Classifier Accuracy')

sns.set_color_codes("muted")
sns.barplot(x = 'Accuracy', y = 'Classifier', data = log, color = "b")

ValueError: could not convert string to float: 'K2/K3III'

In [8]:
# load data

def load_data():
    Star39552_balanced = pd.read_csv('Star39552_balanced.csv', encoding='latin-1')



    return Star39552_balanced

In [9]:
X= load_data()

In [10]:
X

        Vmag    Plx  e_Plx    B-V SpType       Amag  TargetClass
0      10.00  31.66   6.19  1.213    K7V  22.502556            1
1       8.26   3.21   1.00  1.130  K0III  15.792525            0
2       8.27  12.75   1.06  0.596    F9V  18.797552            1
3       6.54   5.23   0.76  1.189  K1III  15.132508            0
4       8.52   0.96   0.72  0.173    B8V  13.431356            1
...      ...    ...    ...    ...    ...        ...          ...
39547   5.83   0.17   0.52  0.474  B7Iab   6.982245            0
39548   7.05  18.12   0.92  0.424    F5V  18.340790            1
39549   9.21   3.89   1.46  0.227   A1IV  17.159748            1
39550   9.01   2.13   1.46  1.467  M5III  15.651898            0
39551   9.12   3.82   0.79  0.480    F5V  17.030317            1

[39552 rows x 7 columns]

In [11]:
X.describe()

,Vmag,Plx,e_Plx,B-V,Amag,TargetClass
count,39552.000000,39552.000000,39552.000000,39552.000000,39552.000000,39552.000000
mean,7.921309,7.117378,1.109705,0.744336,16.050687,0.500000
std,1.308857,12.446291,0.788133,0.513987,2.443937,0.500006
min,-0.620000,-27.840000,0.420000,-0.400000,-0.350000,0.000000
25%,7.210000,2.430000,0.800000,0.358000,14.756514,0.000000
50%,8.160000,4.440000,0.990000,0.703000,16.020828,0.500000
75%,8.830000,8.232500,1.230000,1.129000,17.590541,1.000000
max,12.850000,772.330000,40.630000,3.440000,30.449015,1.000000

In [12]:
X["Vmag"] = pd.to_numeric(X["Vmag"], downcast="float")
X["Plx"] = pd.to_numeric(X["Plx"], downcast="float")
X["e_Plx"] = pd.to_numeric(X["e_Plx"], downcast="float")
X["B-V"] = pd.to_numeric(X["B-V"], downcast="float")

In [13]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39552 entries, 0 to 39551
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Vmag         39552 non-null  float32
 1   Plx          39552 non-null  float32
 2   e_Plx        39552 non-null  float32
 3   B-V          39552 non-null  float32
 4   SpType       39552 non-null  object
 5   Amag         39552 non-null  float64
 6   TargetClass  39552 non-null  int64
dtypes: float32(4), float64(1), int64(1), object(1)
memory usage: 1.5+ MB

In [14]:
X["Amag"] = X["Vmag"] + 5* (np.log10(abs(X["Plx"]))+1)

X

        Vmag        Plx  e_Plx    B-V SpType       Amag  TargetClass
0      10.00  31.660000   6.19  1.213    K7V  22.502556            1
1       8.26   3.210000   1.00  1.130  K0III  15.792525            0
2       8.27  12.750000   1.06  0.596    F9V  18.797552            1
3       6.54   5.230000   0.76  1.189  K1III  15.132508            0
4       8.52   0.960000   0.72  0.173    B8V  13.431356            1
...      ...        ...    ...    ...    ...        ...          ...
39547   5.83   0.170000   0.52  0.474  B7Iab   6.982244            0
39548   7.05  18.120001   0.92  0.424    F5V  18.340790            1
39549   9.21   3.890000   1.46  0.227   A1IV  17.159748            1
39550   9.01   2.130000   1.46  1.467  M5III  15.651898            0
39551   9.12   3.820000   0.79  0.480    F5V  17.030317            1

[39552 rows x 7 columns]

In [15]:
X

        Vmag        Plx  e_Plx    B-V SpType       Amag  TargetClass
0      10.00  31.660000   6.19  1.213    K7V  22.502556            1
1       8.26   3.210000   1.00  1.130  K0III  15.792525            0
2       8.27  12.750000   1.06  0.596    F9V  18.797552            1
3       6.54   5.230000   0.76  1.189  K1III  15.132508            0
4       8.52   0.960000   0.72  0.173    B8V  13.431356            1
...      ...        ...    ...    ...    ...        ...          ...
39547   5.83   0.170000   0.52  0.474  B7Iab   6.982244            0
39548   7.05  18.120001   0.92  0.424    F5V  18.340790            1
39549   9.21   3.890000   1.46  0.227   A1IV  17.159748            1
39550   9.01   2.130000   1.46  1.467  M5III  15.651898            0
39551   9.12   3.820000   0.79  0.480    F5V  17.030317            1

[39552 rows x 7 columns]



We can see the SpType contains the Roman Numerals we need.

    Best Practice is to use Regex (Regular Expression) to extract the pattern.

But I will try to use an intuitive approach first.

I just took a look from the dataset, the Roman Numeral contains: I, II, III, IV, V, VI, VII in the string. Therefore:

    Dwarfs (I, II, III, VII)
    Giants (IV, V, VI)
    Other Special Stars (None)

^Edit0821: Sorry I made a huge mistake here... Now fixed!

For the First Character of the String, we don't need to worry there will be I or V.

In [16]:
X['new_target'] = X['SpType']

In [17]:
from sys import getsizeof

In [18]:
getsizeof('III')

52

In [19]:


#The intuitive approach (Could take a long time if you have a huge dataset)
for i in range(X.shape[0]):

    if "V" in str(X.loc[i,'new_target']): 
        if "VI" in X.loc[i,'new_target']:
            if "VII" in X.loc[i,'new_target']:
                X.loc[i,'new_target'] = 7 # VII is Dwarf
            else:
                X.loc[i,'new_target'] =6 # VI is Giants                
        else:
            if "IV" in X.loc[i,'new_target']: 
                X.loc[i,'new_target'] = 4 # IV is Giants
            elif "V" in X.loc[i,'new_target']: 
                X.loc[i,'new_target'] = 5 # V is Giants

    elif "I" in X.loc[i,'new_target']: 
        if "II" in X.loc[i,'new_target']:
            if "III" in X.loc[i,'new_target']:
                X.loc[i,'new_target'] = 3 # III are Dwarfs
            else:
                X.loc[i,'new_target'] = 2 # II are Dwarfs
        else:
            X.loc[i,'new_target'] = 1 # I are Dwarfs
    else: 
        X.loc[i,'new_target'] = getsizeof(X.loc[i,'new_target']) # None

In [20]:
X['new_target'].value_counts()

3    17808
5    14879
4     4891
2     1158
1      807
6        6
7        3
Name: new_target, dtype: int64

In [21]:
X

,Vmag,Plx,e_Plx,B-V,SpType,Amag,TargetClass,new_target
0,10.00,31.660000,6.19,1.213,K7V,22.502556,1,5
1,8.26,3.210000,1.00,1.130,K0III,15.792525,0,3
2,8.27,12.750000,1.06,0.596,F9V,18.797552,1,5
3,6.54,5.230000,0.76,1.189,K1III,15.132508,0,3
4,8.52,0.960000,0.72,0.173,B8V,13.431356,1,5
...,...,...,...,...,...,...,...,...
39547,5.83,0.170000,0.52,0.474,B7Iab,6.982244,0,1
39548,7.05,18.120001,0.92,0.424,F5V,18.340790,1,5
39549,9.21,3.890000,1.46,0.227,A1IV,17.159748,1,4
39550,9.01,2.130000,1.46,1.467,M5III,15.651898,0,3
39551,9.12,3.820000,0.79,0.480,F5V,17.030317,1,5

In [22]:
y = X['TargetClass'].loc[:22000]

In [23]:
XX = X.drop(['TargetClass', 'SpType','new_target'], axis = 1).loc[:22000]

In [24]:
X_train, X_test, y_train, y_test = train_test_split( XX, y, test_size=0.33, random_state=42)

In [25]:
X_train, y_train

(       Vmag    Plx  e_Plx    B-V       Amag
 16868  6.58   2.83   0.52 -0.159  13.838932
 8126   8.78   1.49   1.22  1.194  14.645931
 1955   8.30   1.85   1.06  1.071  14.635859
 17433  8.44   2.45   0.99  0.139  15.385830
 10857  8.49   3.58   0.84  1.261  16.259415
 ...     ...    ...    ...    ...        ...
 11964  7.52  13.85   0.60  0.584  18.227249
 21575  7.38   4.87   0.85  1.036  15.817645
 5390   8.96   7.74   1.07  0.576  18.403706
 860    8.84   4.47   1.14  0.972  17.091537
 15795  5.38  10.75   1.74  0.033  15.537042

 [14740 rows x 5 columns],
 16868    0
 8126     0
 1955     0
 17433    1
 10857    0
         ..
 11964    1
 21575    0
 5390     1
 860      0
 15795    0
 Name: TargetClass, Length: 14740, dtype: int64)

In [61]:
model = KNeighborsClassifier(n_neighbors=6)

In [62]:
model.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=6)

In [63]:
model.score(X_train,y_train)

0.8921302578018996

In [64]:
predict = model.predict(X_test)

In [65]:
np.mean(predict == y_test)

0.8686131386861314

In [69]:
y_train

0        0
1        0
2        0
3        1
4        0
        ..
14735    1
14736    0
14737    1
14738    0
14739    0
Name: TargetClass, Length: 14740, dtype: int64

In [67]:
X_train = X_train.reset_index(drop=True)
X_test = X_test.reset_index(drop=True)
y_train = y_train.reset_index(drop=True)
y_test = y_test.reset_index(drop=True)

In [71]:
X_train['target'] = y_train

In [73]:
X_train

       Vmag    Plx  e_Plx    B-V       Amag  target
0      6.58   2.83   0.52 -0.159  13.838932       0
1      8.78   1.49   1.22  1.194  14.645931       0
2      8.30   1.85   1.06  1.071  14.635859       0
3      8.44   2.45   0.99  0.139  15.385830       1
4      8.49   3.58   0.84  1.261  16.259415       0
...     ...    ...    ...    ...        ...     ...
14735  7.52  13.85   0.60  0.584  18.227249       1
14736  7.38   4.87   0.85  1.036  15.817645       0
14737  8.96   7.74   1.07  0.576  18.403706       1
14738  8.84   4.47   1.14  0.972  17.091537       0
14739  5.38  10.75   1.74  0.033  15.537042       0

[14740 rows x 6 columns]

In [74]:
X_test['target'] = y_test

In [75]:
X_test

       Vmag        Plx  e_Plx    B-V       Amag  target
0      7.83   4.880000   1.22  1.015  16.272099       0
1     10.69   0.730000   1.28 -0.077  15.006614       0
2      7.02   9.230000   0.85  0.518  16.846008       1
3      6.43   8.890000   0.76  0.992  16.174509       0
4      8.47  11.010000   0.94  0.549  18.678936       1
...     ...        ...    ...    ...        ...     ...
7256   7.95   7.600000   1.07  0.272  17.354069       1
7257   6.78  16.080000   0.94  0.954  17.811430       1
7258   9.53   8.220000   1.35  0.537  19.104359       1
7259   9.44  29.370001   1.46  1.029  21.779520       1
7260  10.21   7.050000   2.07  0.549  19.450947       1

[7261 rows x 6 columns]

In [76]:
X_test.to_csv('val.csv', index=False)

In [77]:
X_train.to_csv('train.csv', index=False)

In [70]:
from sklearn.preprocessing import LabelEncoder

In [73]:
le = LabelEncoder()

In [74]:
X

        Vmag    Plx  e_Plx    B-V SpType       Amag  TargetClass
0      10.00  31.66   6.19  1.213    K7V  22.502556            1
1       8.26   3.21   1.00  1.130  K0III  15.792525            0
2       8.27  12.75   1.06  0.596    F9V  18.797552            1
3       6.54   5.23   0.76  1.189  K1III  15.132508            0
4       8.52   0.96   0.72  0.173    B8V  13.431356            1
...      ...    ...    ...    ...    ...        ...          ...
18996   5.12  10.43   0.49  1.251  K2III  15.211421            0
18997   8.39   2.93   1.04  0.017    A0V  15.724339            1
18998   8.17   2.58   1.14  0.961  G8III  15.228098            0
18999   8.78   6.26   0.75  0.930  G8III  17.762870            0
19000   9.36   2.29   1.26  1.029  K0III  16.159178            0

[19001 rows x 7 columns]

In [76]:
le.fit(X['SpType'])
le.transform(X['SpType'])

array([1528, 1287,  951, ..., 1201, 1201, 1287])

In [77]:
X

        Vmag    Plx  e_Plx    B-V SpType       Amag  TargetClass
0      10.00  31.66   6.19  1.213    K7V  22.502556            1
1       8.26   3.21   1.00  1.130  K0III  15.792525            0
2       8.27  12.75   1.06  0.596    F9V  18.797552            1
3       6.54   5.23   0.76  1.189  K1III  15.132508            0
4       8.52   0.96   0.72  0.173    B8V  13.431356            1
...      ...    ...    ...    ...    ...        ...          ...
18996   5.12  10.43   0.49  1.251  K2III  15.211421            0
18997   8.39   2.93   1.04  0.017    A0V  15.724339            1
18998   8.17   2.58   1.14  0.961  G8III  15.228098            0
18999   8.78   6.26   0.75  0.930  G8III  17.762870            0
19000   9.36   2.29   1.26  1.029  K0III  16.159178            0

[19001 rows x 7 columns]

In [35]:
X.to_csv('train.csv', index=False)

In [29]:
Y.to_csv('val.csv', index=False )

In [ ]:
import pickle
import json
import pandas as pd
from sklearn.svm import SVC

from utils.dataloader import DataLoader 
from settings.constants import TRAIN_CSV


with open('settings/specifications.json') as f:
    specifications = json.load(f)

raw_train = pd.read_csv(TRAIN_CSV)
x_columns = specifications['description']['X']
y_column = specifications['description']['y']

x_raw = raw_train[x_columns]

loader = DataLoader()
loader.fit(x_raw)
X = loader.load_data()
y = raw_train.Survived

model = SVC()
model.fit(X, y)
with open('models/SVC.pickle', 'wb')as f:
    pickle.dump(model, f)